Repository ShenaniganDApp/shenanigan-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["prettier --write", "eslint --fix"],
  "*.{json,yml,md}": "prettier --write"
}

add react-native-dev-menu
  packages/server/package.json
  yarn.lock
Due: prettier --write

chore: added relay to storybook
  packages/app/package.json
  packages/app/src/Providers.tsx
  packages/app/src/Root.tsx
  packages/app/storybook/relay/RelayEnvProvider.tsx
  packages/app/storybook/relay/connectionFromArray.ts
  packages/app/storybook/stories/Comment/Comment.stories.tsx
  packages/app/storybook/storyLoader.ts
  yarn.lock
Due: prettier --write, eslint --fix

GetORCreateUser mutation return fix
  packages/server/src/graphql/modules/user/mutations/GetOrCreateUserMutation.ts
Due: prettier --write, eslint --fix

minor style adjustments to ui components
  packages/app/src/components/UI/Button.tsx
  packages/app/src/components/UI/ImageCard.tsx
  packages/app/src/components/UI/RoundButton.tsx
  packages/app/src/components/UI/XdaiBanner.tsx
  packages/app/src/components/UI/index.ts
Due: prettier --write, eslint --fix

Fix id equality checks
  packages/server/src/graphql/modules/challenge/mutations/AddOptionsMutation.ts
  packages/server/src/graphql/modules/challenge/mutations/StartResultVote.ts
  packages/server/src/graphql/modules/challenge/mutations/ToggleActiveMutation.ts
  packages/server/src/graphql/modules/challenge/mutations/ToggleLiveMutation.ts
  packages/server/src/graphql/modules/challengecard/mutations/CreateChallengeCardMutation.ts
  packages/server/src/graphql/modules/challengecard/mutations/DeleteChallengeCardMutation.ts
  packages/server/src/graphql/modules/comment/mutations/ToggleVisible.ts
  packages/server/src/graphql/modules/user/mutations/DeleteUserMutation.ts
  packages/server/src/graphql/modules/vote/mutations/CreateVote.ts
Due: prettier --write, eslint --fix

add react-native-dev-menu
  packages/server/package.json
Due: prettier --write

add iconsize prop to roundbutton
  packages/app/src/components/UI/RoundButton.tsx
Due: prettier --write, eslint --fix

add number type to xdaibanner
  packages/app/src/components/UI/XdaiBanner.tsx
Due: prettier --write, eslint --fix

chore: improvements
  package.json
  packages/app/package.json
  packages/app/src/components/comment/Comment.stories.tsx
  packages/app/src/components/comment/Comment.tsx
  packages/app/storybook/relay/RelayStorybook.tsx
  packages/app/storybook/stories/Comment/Comment.stories.tsx
  packages/app/storybook/storyLoader.ts
  yarn.lock
Due: prettier --write, eslint --fix

add imageupload component.
  packages/app/android/app/build.gradle
  packages/app/android/build.gradle
  packages/app/ios/Podfile.lock
  packages/app/ios/ShenaniganApp.xcodeproj/project.pbxproj
  packages/app/ios/ShenaniganApp/Info.plist
  packages/app/package.json
  packages/app/src/components/challenges/CreateChallengeScreen.tsx
  packages/app/src/components/challenges/ImageUpload.tsx
  yarn.lock
Due: prettier --write, eslint --fix

install latest packages
  packages/app/package.json
  yarn.lock
Due: prettier --write

fix yarn lock
  yarn.lock
Due: none

add tabnavigationcontext and functions to confirm
  packages/app/src/Main.tsx
  packages/app/src/Navigator.tsx
  packages/app/src/Providers.tsx
  packages/app/src/components/challenges/Confirm.tsx
  packages/app/src/components/challenges/CreateChallengeScreen.tsx
  packages/app/src/contexts/TabNavigationContext.tsx
  packages/app/src/contexts/index.ts
Due: prettier --write, eslint --fix

move nav functions into onCompleted
  packages/app/src/components/challenges/Confirm.tsx
Due: prettier --write, eslint --fix

Navigate from Create Challenge to Lineups Challenge
  packages/app/src/Main.tsx
  packages/app/src/components/challenges/Confirm.tsx
  packages/app/src/components/challenges/mutations/CreateChallengeMutation.tsx
  packages/app/src/components/lineup/LineupList.tsx
  packages/app/src/contexts/TabNavigationContext.tsx
Due: prettier --write, eslint --fix

rename components. add create challenge button
  packages/app/src/components/profile/ButtonNav.tsx
  packages/app/src/components/profile/FollowListButton.tsx
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

add component files
  packages/app/src/components/profile/CardCollection.tsx
  packages/app/src/components/profile/HeaderCard.tsx
  packages/app/src/components/profile/SocialCard.tsx
  packages/app/src/components/profile/StreamButton.tsx
  packages/app/src/components/profile/TagsCard.tsx
Due: prettier --write, eslint --fix

remove imports
  packages/app/src/components/profile/HeaderCard.tsx
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

Update AppQuery to relay 11
  packages/app/src/Navigator.tsx
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

remove maintabs animated view. make gradient global. add loadingspinner to app
  packages/app/src/Navigator.tsx
Due: prettier --write, eslint --fix

wire storybook and dynamically swap container when storybook server is running
  packages/app/src/Root.tsx
Due: prettier --write, eslint --fix

rebase with master.
  packages/app/package.json
  packages/app/src/Main.tsx
  yarn.lock
Due: prettier --write, eslint --fix

in app, add gradient behind maintabs and fade to black animation.
  packages/app/src/Navigator.tsx
Due: prettier --write, eslint --fix

Update AppQuery to relay 11
  yarn.lock
Due: none

copy font files to android folder
  packages/app/android/app/src/main/assets/fonts/AntDesign.ttf
  packages/app/android/app/src/main/assets/fonts/Entypo.ttf
  packages/app/android/app/src/main/assets/fonts/EvilIcons.ttf
  packages/app/android/app/src/main/assets/fonts/Feather.ttf
  packages/app/android/app/src/main/assets/fonts/FontAwesome.ttf
  packages/app/android/app/src/main/assets/fonts/FontAwesome5_Brands.ttf
  packages/app/android/app/src/main/assets/fonts/FontAwesome5_Regular.ttf
  packages/app/android/app/src/main/assets/fonts/FontAwesome5_Solid.ttf
  packages/app/android/app/src/main/assets/fonts/Fontisto.ttf
  packages/app/android/app/src/main/assets/fonts/Foundation.ttf
  packages/app/android/app/src/main/assets/fonts/Ionicons.ttf
  packages/app/android/app/src/main/assets/fonts/MaterialCommunityIcons.ttf
  packages/app/android/app/src/main/assets/fonts/MaterialIcons.ttf
  packages/app/android/app/src/main/assets/fonts/Octicons.ttf
  packages/app/android/app/src/main/assets/fonts/SimpleLineIcons.ttf
  packages/app/android/app/src/main/assets/fonts/Zocial.ttf
Due: none

add disabled to button. remove unnecessary types. style roundButton
  packages/app/src/components/UI/Button.tsx
  packages/app/src/components/UI/RoundButton.tsx
Due: prettier --write, eslint --fix

reset profile
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

add flex to gradient
  packages/app/src/components/UI/Gradient.tsx
Due: prettier --write, eslint --fix

add button styles and props
  packages/app/src/components/UI/Button.tsx
Due: prettier --write, eslint --fix
