Repository ShenaniganDApp/shenanigan-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["prettier --write", "eslint --fix"],
  "*.{json,yml,md}": "prettier --write"
}

add new UI gradient to tabs and wallet. add border between screen. remove animated gradient amd position from main and navigator.
  packages/app/src/Main.tsx
  packages/app/src/Navigator.tsx
  packages/app/src/WalletDropdown.tsx
  packages/app/src/components/Live/Live.tsx
Due: prettier --write, eslint --fix

update podfile.lock
  packages/app/ios/Podfile.lock
Due: none

React Native Fix for XCode 12.5
  package.json
  packages/app/ios/Podfile
  packages/app/ios/Podfile.lock
  packages/app/package.json
  yarn.lock
Due: prettier --write

add responsive styles and update profile to new ui
  packages/app/src/components/profile/BannerAvatar.tsx
  packages/app/src/components/profile/ButtonNav.tsx
  packages/app/src/components/profile/FollowListButton.tsx
  packages/app/src/components/profile/HeaderCard.tsx
  packages/app/src/components/profile/Profile.tsx
  packages/app/src/components/profile/SocialCard.tsx
  packages/app/src/components/profile/TagsCard.tsx
Due: prettier --write, eslint --fix

add responsive styles and new ui to wallet dropdown
  packages/app/src/WalletDropdown.tsx
  packages/app/src/components/Web3/Address.tsx
  packages/app/src/components/wallet/BalanceCard.tsx
  packages/app/src/components/wallet/GasCard.tsx
  packages/app/src/images/prtcle-pink-logo.png
Due: prettier --write, eslint --fix

add new UI gradient to tabs and wallet. add border between screen. remove animated gradient amd position from main and navigator.
  packages/app/src/WalletDropdown.tsx
Due: prettier --write, eslint --fix

add custom fonts
  packages/app/android/app/src/main/assets/fonts/impact.ttf
  packages/app/ios/ShenaniganApp.xcodeproj/project.pbxproj
  packages/app/ios/ShenaniganApp/Info.plist
  packages/app/react-native.config.js
  packages/app/src/assets/fonts/impact.ttf
  packages/app/src/components/UI/Title.tsx
Due: prettier --write, eslint --fix

React Native Fix for XCode 12.5
  packages/app/ios/Podfile.lock
Due: none

unlink react-native-video
  packages/app/ios/Podfile
  packages/app/ios/Podfile.lock
Due: none

upgrade reanimated to v2 (#231)
  packages/app/android/app/build.gradle
  packages/app/android/app/src/main/java/com/shenaniganapp/MainApplication.java
  packages/app/babel.config.js
  packages/app/ios/Podfile.lock
  packages/app/package.json
  yarn.lock
Due: prettier --write, eslint --fix

add new UI gradient to tabs and wallet. add border between screen. remove animated gradient amd position from main and navigator.
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

upgrade reanimated to v2
  yarn.lock
Due: none

update fade component to reanimated v2
  packages/app/src/components/UI/Fade.tsx
Due: prettier --write, eslint --fix

update livechat animation to v2. fix transform on first run in fade component
  packages/app/src/components/Live/LiveChat.tsx
  packages/app/src/components/UI/Fade.tsx
Due: prettier --write, eslint --fix

fix error in yarn.lock
  yarn.lock
Due: none

add responsive styles and update profile to new ui
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

set translate to input height. fix bug where animation callback doesn't run. fix gap caused by bord bottom
  packages/app/src/components/Live/Header.tsx
  packages/app/src/components/Live/Live.tsx
  packages/app/src/components/Live/LiveChat.tsx
  packages/app/src/components/Live/LiveChatComposer.tsx
  packages/app/src/components/UI/Fade.tsx
Due: prettier --write, eslint --fix

add profile drawer and followcard
  packages/app/src/components/profile/FollowCard.tsx
  packages/app/src/components/profile/FollowDrawer.tsx
  packages/app/src/components/profile/FollowerDrawer.tsx
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

add toggle drawer to profile
  packages/app/src/components/profile/FollowerDrawer.tsx
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

fix import error
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

add maintabsswipe toggle to drawer. breakout runonjs function
  packages/app/src/Navigator.tsx
  packages/app/src/components/profile/FollowDrawer.tsx
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

Extrapolate Status enum out to two: Result and State
  packages/hardhat/src/facets/ChallengeFacet.sol
  packages/hardhat/src/facets/ChallengeTokenFacet.sol
  packages/hardhat/src/libraries/LibChallengeStorage.sol
Due: none
