Repository ShenaniganDApp/shenanigan-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["prettier --write", "eslint --fix"],
  "*.{json,yml,md}": "prettier --write"
}

React Native Fix for XCode 12.5
  packages/app/ios/Podfile.lock
Due: none

fix error in yarn.lock
  yarn.lock
Due: none

upgrade reanimated to v2 (#231)
  packages/app/android/app/build.gradle
  packages/app/android/app/src/main/java/com/shenaniganapp/MainApplication.java
  packages/app/babel.config.js
  packages/app/ios/Podfile.lock
  packages/app/package.json
  yarn.lock
Due: prettier --write, eslint --fix

set translate to input height. fix bug where animation callback doesn't run. fix gap caused by bord bottom
  packages/app/src/components/Live/Header.tsx
  packages/app/src/components/Live/Live.tsx
  packages/app/src/components/Live/LiveChat.tsx
  packages/app/src/components/Live/LiveChatComposer.tsx
  packages/app/src/components/UI/Fade.tsx
Due: prettier --write, eslint --fix

update livechat animation to v2. fix transform on first run in fade component
  packages/app/src/components/Live/LiveChat.tsx
  packages/app/src/components/UI/Fade.tsx
Due: prettier --write, eslint --fix

add toggle drawer to profile
  packages/app/src/components/profile/FollowerDrawer.tsx
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

fix import error
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

add profile drawer and followcard
  packages/app/src/components/profile/FollowCard.tsx
  packages/app/src/components/profile/FollowDrawer.tsx
  packages/app/src/components/profile/FollowerDrawer.tsx
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

upgrade reanimated to v2
  yarn.lock
Due: none

add maintabsswipe toggle to drawer. breakout runonjs function
  packages/app/src/Navigator.tsx
  packages/app/src/components/profile/FollowDrawer.tsx
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

update podfile.lock
  packages/app/ios/Podfile.lock
Due: none

add new UI gradient to tabs and wallet. add border between screen. remove animated gradient amd position from main and navigator.
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

add new UI gradient to tabs and wallet. add border between screen. remove animated gradient amd position from main and navigator.
  packages/app/src/Main.tsx
  packages/app/src/Navigator.tsx
  packages/app/src/WalletDropdown.tsx
  packages/app/src/components/Live/Live.tsx
Due: prettier --write, eslint --fix

update fade component to reanimated v2
  packages/app/src/components/UI/Fade.tsx
Due: prettier --write, eslint --fix

add buttons to live chat
  packages/app/src/components/Live/Buttons.tsx
  packages/app/src/components/Live/LiveChat.tsx
Due: prettier --write, eslint --fix

use impact font in button and notch
  packages/app/src/components/UI/Button.tsx
  packages/app/src/components/UI/Notch.tsx
Due: prettier --write, eslint --fix

fix bottomsheet not opening. add bottomsheet to live screen
  packages/app/src/components/Live/Live.tsx
  packages/app/src/components/Live/LiveChat.tsx
  packages/app/src/components/UI/BottomSheet.tsx
Due: prettier --write, eslint --fix

add background to bottomsheet. make title wrappable
  packages/app/src/components/UI/BottomSheet.tsx
  packages/app/src/components/UI/Title.tsx
Due: prettier --write, eslint --fix

add donation modal component. add custom bottomsheet bg component
  packages/app/src/components/Live/DonationModal.tsx
  packages/app/src/components/Live/Live.tsx
Due: prettier --write, eslint --fix

Test Create Challange Facet
  packages/hardhat/test/ChallengeDiamond.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

Test set price
  packages/hardhat/hardhat.config.ts
  packages/hardhat/package.json
  packages/hardhat/src/facets/ChallengeFacet.sol
  packages/hardhat/src/facets/ChallengeTokenFacet.sol
  packages/hardhat/src/libraries/LibChallengeStorage.sol
  packages/hardhat/src/libraries/LibDiamond.sol
  packages/hardhat/test/ChallengeDiamond.test.ts
Due: prettier --write, eslint --fix

add conditional height. fix typescript error
  packages/app/src/components/Live/Live.tsx
  packages/app/src/components/UI/BottomSheet.tsx
Due: prettier --write, eslint --fix

Depoy diamond hardhat and fix factory
  packages/hardhat/deploy/0001_deploy_diamond.ts
  packages/hardhat/deploy/0001_deploy_facets.ts
  packages/hardhat/deploy/0002_deploy_factory.ts
  packages/hardhat/deployments/rinkeby/.chainId
  packages/hardhat/deployments/rinkeby/ChallengeDiamond.json
  packages/hardhat/deployments/rinkeby/ChallengeDiamond_DiamondProxy.json
  packages/hardhat/deployments/rinkeby/ChallengeFacet.json
  packages/hardhat/deployments/rinkeby/ChallengeTokenFacet.json
  packages/hardhat/deployments/rinkeby/Diamantaire.json
  packages/hardhat/deployments/rinkeby/DiamondCutFacet.json
  packages/hardhat/deployments/rinkeby/DiamondLoupeFacet.json
  packages/hardhat/deployments/rinkeby/OwnershipFacet.json
  packages/hardhat/deployments/rinkeby/solcInputs/084448cee1217f0e005b41b07ededd1b.json
  packages/hardhat/deployments/rinkeby/solcInputs/14584095d33f6567c3f4bcb7fba77299.json
  packages/hardhat/deployments/rinkeby/solcInputs/5324939c745f149840982768efa93955.json
  packages/hardhat/deployments/rinkeby/solcInputs/5557da8d5fc34779c94daee94142e804.json
  packages/hardhat/deployments/rinkeby/solcInputs/5a022ab8a5e62518819c0d82c6a35101.json
  packages/hardhat/deployments/rinkeby/solcInputs/63e9f73b851768e4a2dd14171c8c81d8.json
  packages/hardhat/deployments/rinkeby/solcInputs/f56a4f762da1211ecdbf2a9ff16253f3.json
  packages/hardhat/hardhat.config.ts
  packages/hardhat/src/ChallengeDiamond.sol
  packages/hardhat/src/ChallengeFactory.sol
  packages/hardhat/src/facets/ChallengeFacet.sol
  packages/hardhat/src/facets/ChallengeTokenFacet.sol
  packages/hardhat/src/facets/DiamondLoupeFacet.sol
  packages/hardhat/src/interfaces/IERC1155.sol
  packages/hardhat/src/libraries/ERC1155Base.sol
  packages/hardhat/src/libraries/LibChallengeStorage.sol
  packages/hardhat/test/ChallengeDiamond.test.ts
Due: prettier --write, eslint --fix

Extrapolate Status enum out to two: Result and State
  packages/hardhat/src/facets/ChallengeFacet.sol
  packages/hardhat/src/facets/ChallengeTokenFacet.sol
  packages/hardhat/src/libraries/LibChallengeStorage.sol
Due: none

Relay Recipient and Signature Checker Libs
  packages/hardhat/deploy/0001_deploy_facets.ts
  packages/hardhat/deploy/0002_deploy_factory.ts
  packages/hardhat/src/ChallengeDiamond.sol
  packages/hardhat/src/SignatureChecker.sol
  packages/hardhat/src/facets/BaseRelayRecipientFacet.sol
  packages/hardhat/src/facets/ChallengeFacet.sol
  packages/hardhat/src/facets/ChallengeTokenFacet.sol
  packages/hardhat/src/facets/DiamondLoupeFacet.sol
  packages/hardhat/src/interfaces/IChallenge.sol
  packages/hardhat/src/interfaces/IChallengeDiamond.sol
  packages/hardhat/src/interfaces/IDiamondCut.sol
  packages/hardhat/src/interfaces/IDiamondLoupe.sol
  packages/hardhat/src/interfaces/IRelayRecipient.sol
  packages/hardhat/src/introspection/ERC165.sol
  packages/hardhat/src/libraries/ERC1155Base.sol
  packages/hardhat/src/libraries/LibBaseRelayRecipient.sol
  packages/hardhat/src/libraries/LibChallengeStorage.sol
  packages/hardhat/src/libraries/LibERC20.sol
  packages/hardhat/src/libraries/LibSignatureChecker.sol
  packages/hardhat/src/libraries/Ownable.sol
  packages/hardhat/test/ChallengeDiamond.test.ts
Due: prettier --write, eslint --fix

add v3
  packages/app/package.json
  yarn.lock
Due: prettier --write

add keyboard handling. use forwardrefs. fix close on swipercontext change. add touch to close
  packages/app/src/components/Live/DonationModal.tsx
  packages/app/src/components/Live/Live.tsx
  packages/app/src/components/UI/BottomSheet.tsx
  packages/app/src/components/UI/bottomSheet/BottomSheet.tsx
  packages/app/src/components/UI/index.ts
Due: prettier --write, eslint --fix
