Repository ShenaniganDApp/shenanigan-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["prettier --write", "eslint --fix"],
  "*.{json,yml,md}": "prettier --write"
}

storybook init with demo story
  packages/app/storybook/addons.ts
  packages/app/storybook/index.tsx
  packages/app/storybook/rn-addons.ts
  packages/app/storybook/stories/Welcome/Welcome.stories.tsx
  packages/app/storybook/stories/Welcome/index.tsx
  packages/app/storybook/stories/index.ts
  packages/app/storybook/storyLoader.ts
Due: prettier --write, eslint --fix

add storybook dependencies
  packages/app/ios/Podfile.lock
  packages/app/package.json
  yarn.lock
Due: prettier --write

wire storybook and dynamically swap container when storybook server is running
  packages/app/index.js
  packages/app/src/App.tsx
  packages/app/src/Providers.tsx
  packages/app/src/Root.tsx
Due: prettier --write, eslint --fix

Update AppQuery to relay 11
  package.json
  packages/app/package.json
  packages/app/relay.config.ts
  packages/app/src/App.tsx
  packages/app/src/Main.tsx
  packages/app/src/Navigator.tsx
  packages/app/src/Providers.tsx
  packages/app/src/Root.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Add image field in challenge module Image fields will give a face to each challenge before a card is minted
  packages/server/src/graphql/modules/challenge/ChallengeModel.ts
  packages/server/src/graphql/modules/challenge/ChallengeType.ts
  packages/server/src/graphql/modules/challenge/mutations/CreateChallengeMutation.ts
Due: prettier --write, eslint --fix

Navigate from Create Challenge to Lineups Challenge
  packages/app/src/Main.tsx
  packages/app/src/components/challenges/Confirm.tsx
  packages/app/src/components/challenges/mutations/CreateChallengeMutation.tsx
  packages/app/src/components/lineup/LineupList.tsx
  packages/app/src/contexts/TabNavigationContext.tsx
Due: prettier --write, eslint --fix

change commands to use hh vs buidler
  package.json
Due: prettier --write

add tasks
  packages/hardhat/.gitignore
  packages/hardhat/hardhat.config.ts
  packages/hardhat/package.json
Due: prettier --write, eslint --fix

create factory contract
  packages/hardhat/deploy/0001_deploy_facets.ts
  packages/hardhat/deploy/0002_deploy_factory.ts
  packages/hardhat/hardhat.config.ts
  packages/hardhat/src/ChallengeFactory.sol
  packages/hardhat/test/ChallengeDiamond.test.ts
Due: prettier --write, eslint --fix

Use blocktime instead of blocknumber
  packages/server/src/graphql/modules/challenge/mutations/StartResultVote.ts
  packages/server/src/graphql/modules/challengecard/mutations/CreateChallengeCardMutation.ts
  packages/server/src/graphql/modules/prediction/mutations/CreatePrediction.ts
  packages/server/src/graphql/modules/vote/mutations/CreateVote.ts
Due: prettier --write, eslint --fix

Error and success helpers
  packages/server/src/graphql/utils/errorField.ts
  packages/server/src/graphql/utils/successField.ts
  packages/server/src/graphql/utils/timestampResolvers.ts
Due: prettier --write, eslint --fix

Refoactor error and success fields in mutations
  packages/server/src/graphql/modules/challenge/mutations/AddOptionsMutation.ts
  packages/server/src/graphql/modules/challenge/mutations/CreateChallengeMutation.ts
  packages/server/src/graphql/modules/challenge/mutations/StartResultVote.ts
  packages/server/src/graphql/modules/challenge/mutations/ToggleActiveMutation.ts
  packages/server/src/graphql/modules/challenge/mutations/ToggleLiveMutation.ts
  packages/server/src/graphql/modules/challengecard/mutations/CreateChallengeCardMutation.ts
  packages/server/src/graphql/modules/challengecard/mutations/DeleteChallengeCardMutation.ts
  packages/server/src/graphql/modules/comment/mutations/CreateComment.ts
  packages/server/src/graphql/modules/comment/mutations/ToggleVisible.ts
  packages/server/src/graphql/modules/donation/mutations/CreateDonation.ts
  packages/server/src/graphql/modules/prediction/mutations/CreatePrediction.ts
  packages/server/src/graphql/modules/user/mutations/AddOrRemoveModerator.ts
  packages/server/src/graphql/modules/user/mutations/DeleteUserMutation.ts
  packages/server/src/graphql/modules/user/mutations/GetOrCreateUserMutation.ts
  packages/server/src/graphql/modules/vote/mutations/CreateVote.ts
Due: prettier --write, eslint --fix

add and adjust ui components to new design
  packages/app/src/components/UI/Button.tsx
  packages/app/src/components/UI/Card.tsx
  packages/app/src/components/UI/Gradient.tsx
  packages/app/src/components/UI/RoundButton.tsx
  packages/app/src/components/UI/Title.tsx
  packages/app/src/components/UI/globalStyles.ts
  packages/app/src/components/UI/index.ts
Due: prettier --write, eslint --fix

add flex to gradient
  packages/app/src/components/UI/Gradient.tsx
Due: prettier --write, eslint --fix

add style props and remove view from title component
  packages/app/src/components/UI/Title.tsx
Due: prettier --write, eslint --fix

add disabled to button. remove unnecessary types. style roundButton
  packages/app/src/components/UI/Button.tsx
  packages/app/src/components/UI/RoundButton.tsx
Due: prettier --write, eslint --fix

add button styles and props
  packages/app/src/components/UI/Button.tsx
Due: prettier --write, eslint --fix

add imagecard component
  packages/app/src/components/UI/ImageCard.tsx
  packages/app/src/components/UI/index.ts
Due: prettier --write, eslint --fix

install packages
  packages/app/package.json
  yarn.lock
Due: prettier --write

adjust component styles
  packages/app/src/components/UI/Button.tsx
  packages/app/src/components/UI/ImageCard.tsx
  packages/app/src/components/UI/Title.tsx
  packages/app/src/components/UI/globalStyles.ts
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

add xdaibanner. adjust imagecard
  packages/app/src/components/UI/ImageCard.tsx
  packages/app/src/components/UI/XdaiBanner.tsx
  packages/app/src/components/profile/Profile.tsx
  packages/app/src/images/xdai.png
Due: prettier --write, eslint --fix

adjust component styles
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

reset profile
  packages/app/src/components/profile/Profile.tsx
Due: prettier --write, eslint --fix

copy font files to android folder
  packages/app/android/app/src/main/assets/fonts/AntDesign.ttf
  packages/app/android/app/src/main/assets/fonts/Entypo.ttf
  packages/app/android/app/src/main/assets/fonts/EvilIcons.ttf
  packages/app/android/app/src/main/assets/fonts/Feather.ttf
  packages/app/android/app/src/main/assets/fonts/FontAwesome.ttf
  packages/app/android/app/src/main/assets/fonts/FontAwesome5_Brands.ttf
  packages/app/android/app/src/main/assets/fonts/FontAwesome5_Regular.ttf
  packages/app/android/app/src/main/assets/fonts/FontAwesome5_Solid.ttf
  packages/app/android/app/src/main/assets/fonts/Fontisto.ttf
  packages/app/android/app/src/main/assets/fonts/Foundation.ttf
  packages/app/android/app/src/main/assets/fonts/Ionicons.ttf
  packages/app/android/app/src/main/assets/fonts/MaterialCommunityIcons.ttf
  packages/app/android/app/src/main/assets/fonts/MaterialIcons.ttf
  packages/app/android/app/src/main/assets/fonts/Octicons.ttf
  packages/app/android/app/src/main/assets/fonts/SimpleLineIcons.ttf
  packages/app/android/app/src/main/assets/fonts/Zocial.ttf
Due: none

chore: added storybook related missing dependencies
  packages/app/package.json
  yarn.lock
Due: prettier --write

Fix id equality checks
  packages/server/src/graphql/modules/challenge/mutations/AddOptionsMutation.ts
  packages/server/src/graphql/modules/challenge/mutations/StartResultVote.ts
  packages/server/src/graphql/modules/challenge/mutations/ToggleActiveMutation.ts
  packages/server/src/graphql/modules/challenge/mutations/ToggleLiveMutation.ts
  packages/server/src/graphql/modules/challengecard/mutations/CreateChallengeCardMutation.ts
  packages/server/src/graphql/modules/challengecard/mutations/DeleteChallengeCardMutation.ts
  packages/server/src/graphql/modules/comment/mutations/ToggleVisible.ts
  packages/server/src/graphql/modules/user/mutations/DeleteUserMutation.ts
  packages/server/src/graphql/modules/vote/mutations/CreateVote.ts
Due: prettier --write, eslint --fix

GetORCreateUser mutation return fix
  packages/server/src/graphql/modules/user/mutations/GetOrCreateUserMutation.ts
Due: prettier --write, eslint --fix

add react-native-dev-menu
  packages/server/package.json
  yarn.lock
Due: prettier --write
