Repository ShenaniganDApp/shenanigan-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js}": ["prettier --write", "eslint --fix"],
  "*.{json,yml,md}": "prettier --write"
}

update subscriptions-transport-ws
  packages/app/package.json
  packages/server/package.json
  yarn.lock
Due: prettier --write

add back button to challenge form screen
  packages/app/src/Navigator.tsx
  packages/app/src/components/challenges/ChallengeForm.tsx
Due: prettier --write, eslint --fix

run update-schema
  packages/server/src/graphql/schema/schema.graphql
Due: none

Fix multiple graphql error
  packages/app/android/app/build.gradle
  packages/app/src/components/comment/CommentList.tsx
  packages/app/src/components/comment/subscriptions/CommentAddedSubscription.tsx
Due: prettier --write, eslint --fix

reduce padding
  packages/app/src/components/comment/CommentList.tsx
Due: prettier --write, eslint --fix

get user name and image from graphql
  packages/app/src/components/comment/CommentList.tsx
Due: prettier --write, eslint --fix

add styles to comments
  packages/app/src/components/comment/CommentList.tsx
Due: prettier --write, eslint --fix

style add comments input
  packages/app/src/components/comment/CreateCommentComposer.tsx
Due: prettier --write, eslint --fix

add styles to comments and input. add icon support. add keyboard avoiding view.
  .DS_Store
  .gitignore
  packages/.DS_Store
  packages/app/ios/Podfile.lock
  packages/app/ios/ShenaniganApp.xcodeproj/project.pbxproj
  packages/app/ios/ShenaniganApp/Info.plist
  packages/app/src/WalletDropdown.tsx
  packages/app/src/components/Web3/Blockie.tsx
  packages/app/src/components/comment/CommentList.tsx
  packages/app/src/components/comment/CreateCommentComposer.tsx
Due: prettier --write, eslint --fix

totalDonations field on Challenge
  packages/app/ios/Podfile.lock
  packages/server/src/graphql/modules/challenge/ChallengeModel.ts
  packages/server/src/graphql/modules/challenge/ChallengeType.ts
  packages/server/src/graphql/modules/donation/mutations/CreateDonation.ts
Due: prettier --write, eslint --fix

remove check for commentStore
  packages/app/android/fastlane/README.md
  packages/app/src/components/comment/subscriptions/CommentAddedSubscription.tsx
Due: prettier --write, eslint --fix

Fix android debug
  packages/app/android/app/build.gradle
  packages/app/android/build.gradle
  packages/app/android/gradle/wrapper/gradle-wrapper.properties
  packages/app/package.json
  packages/app/src/components/comment/CreateCommentComposer.tsx
  packages/app/src/components/comment/mutations/CreateCommentMutation.tsx
  packages/app/src/components/comment/subscriptions/CommentAddedSubscription.tsx
Due: prettier --write, eslint --fix

upgrade node-media-client
  packages/server/src/graphql/modules/comment/subscriptions/CommentAddedSubscription.ts
  packages/server/src/graphql/schema/schema.graphql
  yarn.lock
Due: prettier --write, eslint --fix

Fix utils name
  packages/utils/package.json
  packages/utils/src/did/index.ts
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
Due: prettier --write, eslint --fix

Docker & Digital Ocean
  .github/workflows/PR-CI.yml
  .github/workflows/deployment.yml
  docker-compose.yml
  docker/server/Dockerfile
  package.json
  packages/buidler/package.json
  yarn.lock
Due: prettier --write

Fix event triggers
  .github/workflows/PR-CI.yml
Due: prettier --write

docker-compose build command
  .github/workflows/PR-CI.yml
Due: prettier --write

Move Wallet Dropdown to root level
  .gitignore
  packages/app/package.json
  packages/app/src/App.tsx
  packages/app/src/Navigator.tsx
  packages/app/src/WalletDropdown.tsx
  packages/app/src/components/Live/Live.tsx
  packages/app/src/components/market/Market.tsx
  packages/app/src/components/profile/Profile.tsx
  packages/app/src/contexts/TabSwipeContext/TabSwipeContext.tsx
  packages/app/src/contexts/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

use walletconnect react native dapp
  packages/app/src/Providers.tsx
  packages/app/src/WalletDropdown.tsx
  packages/app/src/components/Web3/Web3Modal.tsx
  packages/app/src/components/profile/UserChallengesList.tsx
  packages/app/src/contexts/Web3Context/Web3Context.tsx
  packages/app/src/contexts/Web3Context/mutations/GetOrCreateUserMutation.ts
  packages/app/src/relay/fetchQuery.tsx
  packages/app/src/relay/fetchWithRetries.tsx
  packages/app/src/relay/setupSubscription.tsx
  packages/util/src/did/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

Hoist index functionality up to App.tsx
  packages/app/src/App.tsx
  packages/app/src/Navigator.tsx
Due: prettier --write, eslint --fix

Toggle Chat Swipe off when swiper is moving
  packages/app/index.js
  packages/app/src/App.tsx
  packages/app/src/Navigator.tsx
  packages/app/src/components/Live/Live.tsx
  packages/app/src/components/comment/CommentList.tsx
  packages/app/src/components/comment/Comments.tsx
  packages/app/src/components/lineup/Lineup.tsx
  packages/app/src/contexts/Web3Context/Web3Context.tsx
Due: prettier --write, eslint --fix

Add moderatedUsers and moderator fields
  packages/server/src/graphql/modules/user/UserFilterInputType.ts
  packages/server/src/graphql/modules/user/UserModel.ts
  packages/server/src/graphql/modules/user/UserType.ts
  packages/server/src/graphql/utils/createLoader.ts
Due: prettier --write, eslint --fix
