Repository ShenaniganDApp/shenanigan-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

add lineup donation modal, toggle functionality, and styles
  packages/app/src/components/lineup/DonationModal.tsx
  packages/app/src/components/lineup/LineupChallengeInfo.tsx
  packages/app/src/components/lineup/LineupList.tsx
Due: prettier --write, eslint --fix

add challenge to lineupchallengeinfo
  packages/app/src/components/lineup/LineupChallengeInfo.tsx
  packages/app/src/components/lineup/LineupList.tsx
Due: prettier --write, eslint --fix

use graphql to get fragment instead of props
  packages/app/src/components/lineup/LineupChallengeInfo.tsx
  packages/app/src/components/lineup/LineupList.tsx
Due: prettier --write, eslint --fix

add type to useState
  packages/app/src/components/lineup/LineupList.tsx
Due: prettier --write, eslint --fix

add challenge fragment to donationmodal
  packages/app/src/components/lineup/DonationModal.tsx
  packages/app/src/components/lineup/LineupChallengeInfo.tsx
Due: prettier --write, eslint --fix

connect create donation function
  packages/app/src/components/lineup/DonationModal.tsx
Due: prettier --write, eslint --fix

add format ether. clean up donation functions
  packages/app/src/components/lineup/DonationModal.tsx
  packages/app/src/components/lineup/LineupChallengeInfo.tsx
Due: prettier --write, eslint --fix

use real data in donation modal content. fix username not wrapping
  packages/app/src/components/lineup/DonationModal.tsx
Due: prettier --write, eslint --fix

add username concat helper function and replace where applicable
  packages/app/src/components/Live/DonationModal.tsx
  packages/app/src/components/comment/ChatComment.tsx
  packages/app/src/components/lineup/DonationModal.tsx
  packages/app/src/components/lineup/LineupChallengeInfo.tsx
  packages/app/src/components/lineup/LineupList.tsx
  packages/app/src/components/profile/HeaderCard.tsx
  packages/app/src/helpers/index.ts
  packages/app/src/helpers/usernameConcat.ts
Due: prettier --write, eslint --fix

fix donation modal text wrap. cleanup success/error functions
  packages/app/src/components/Live/DonationModal.tsx
Due: prettier --write, eslint --fix

Expo: Move folders
  packages/app/App.tsx
Due: prettier --write, eslint --fix

Delete scrum-user-story.md
  .github/ISSUE_TEMPLATE/scrum-user-story.md
Due: prettier --write

Create user-story
  .github/ISSUE_TEMPLATE/user-story
Due: none

Delete scrum-user-stories.md
  .github/ISSUE_TEMPLATE/scrum-user-stories.md
Due: prettier --write

Rename user-story to user-story.md
  .github/ISSUE_TEMPLATE/user-story.md
Due: prettier --write

Expo: Upgrade to official SDK 43.0.0
  app.json
  package.json
  packages/app/App.tsx
  packages/app/index.js
  packages/app/ios/Podfile.lock
  packages/app/ios/shenanigan.xcodeproj/project.pbxproj
  packages/app/ios/shenanigan.xcodeproj/xcshareddata/xcschemes/shenanigan.xcscheme
  packages/app/ios/shenanigan.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/app/ios/shenanigan/Info.plist
  packages/app/ios/shenanigan/SplashScreen.storyboard
  packages/app/metro.config.js
  packages/app/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Expo: Extra node modules stream,crypto
  packages/app/App.tsx
  packages/app/index.js
  packages/app/ios/shenanigan.xcodeproj/project.pbxproj
  packages/app/ios/shenanigan/SplashScreen.storyboard
  packages/app/metro.config.js
  packages/app/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Remove TCP and UDP from rn nodeify
  packages/app/android/app/build.gradle
  packages/app/android/app/eas-build.gradle
  packages/app/eas.json
  packages/app/index.js
  packages/app/package.json
  packages/app/shim.js
  yarn.lock
Due: prettier --write, eslint --fix

Fix app build
  apps/shenanigan/android/app/build.gradle
  apps/shenanigan/android/app/eas-build.gradle
  apps/shenanigan/ios/Podfile.lock
  apps/shenanigan/ios/shenanigan.xcodeproj/project.pbxproj
  apps/shenanigan/ios/shenanigan.xcodeproj/xcshareddata/xcschemes/shenanigan.xcscheme
  apps/shenanigan/ios/shenanigan.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  apps/shenanigan/ios/shenanigan/SplashScreen.storyboard
  apps/shenanigan/package.json
  apps/shenanigan/src/Providers.tsx
  apps/shenanigan/src/contexts/Web3Context/Web3Context.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Update package.json
  packages/server/package.json
Due: prettier --write

add dist
  .gitignore
  packages/util/dist/did/index.d.ts
  packages/util/dist/did/index.d.ts.map
  packages/util/dist/did/index.js
  packages/util/dist/did/index.js.map
  packages/util/dist/index.d.ts
  packages/util/dist/index.d.ts.map
  packages/util/dist/index.js
  packages/util/dist/index.js.map
Due: prettier --write, eslint --fix

Update package.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,tsx,js}) or (any of: *.{json,yml,md})
  eslint --fix: any of: *.{ts,tsx,js}
